﻿@model SanlamAssessment.Models.FileInput.File

<h6>Please select an xml file with debit order data</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetFileInput" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Choose your xml document:</p>
                    <input type="file" name="FileInput" accept="text/xml">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div style="color:red;">
    @ViewBag.Message
</div
<div>
    @Html.Partial("SuccessFileCompute")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
