﻿@{ 
    var paths = (List<string>)@ViewData["paths"];
}

    <table class="table">
        @{
            if (paths != null)
            {
                <h5 style="color:green;"> Successfully sent the debit orders to the Banks, follow the paths bellow to see the copies</h5>

                foreach (var item in paths)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                    </tr>

                }
            }
        }
    </table>
